.newBookmarkBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(50,50,50,0.8);
}

.newBookmark {
  align-items: center;
  background-color: var(--color-background-dark);
  box-shadow: var(--shadow-dark-main);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 50%;
  margin: auto;
  position: absolute;
  top: 25%;
  transform: translateX(-50%);
  z-index: 1;
}

label {
  margin: 5px 10px;
}

.header {
  font-size: 1.5em;
  margin: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputText {
  background-color: var(--color-background-dark-variant-2);
  border: none;
  color: var(--color-text-main);
  height: 20px;
  margin: 5px 0;
}

.buttonFooter {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 5px 10px;
}

.submitButton {
  background-color: var(--color-background-dark-variant-2);
  color: var(--color-text-main);
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 5px;
  border-style: none;
  height: 30px;
}