.main {
  display: flex;
  flex: 5;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  min-height: 75px;
  width: 100%;
}

.bookmarkContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  align-content: flex-start;
}

