.main {
  display: flex;
  flex: 5;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  min-height: 75px;
  width: 100%;
}

.bookmarkContainerDark {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  align-content: flex-start;
}

.bookmarkContainerDark::-webkit-scrollbar-track
{
  background-color: var(--color-background-dark);
}

.bookmarkContainerDark::-webkit-scrollbar
{
  width: 6px;
  background-color: var(--color-background-dark);
}

.bookmarkContainerDark::-webkit-scrollbar-thumb
{
  border-radius: 3px;
  background-color: var(--color-background-dark-variant-2);
}

.bookmarkContainerLight {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  align-content: flex-start;
}

.bookmarkContainerLight::-webkit-scrollbar-track
{
  background-color: var(--color-background-light);
}

.bookmarkContainerLight::-webkit-scrollbar
{
  width: 6px;
  background-color: var(--color-background-light);
}

.bookmarkContainerLight::-webkit-scrollbar-thumb
{
  border-radius: 3px;
  background-color: var(--color-background-light-variant);
}

