.settings {
    background-color: var(--color-background-dark-variant);
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 500px;
}

.header {
    height: 15px;
}

.option {
    display: flex;
    flex-direction: row;
    height: 75px;
    justify-content: space-between;
}

.optionName {
    height: 20px;
    margin: 5px 10px;
}

.numberInput {
    background-color: var(--color-background-dark-variant-2);
    border: none;
    color: var(--color-text-main);
    height: 20px;
    margin: 5px 0;
    width: 20px;
}

.slider {
    height: 20px;
    margin: 5px 0;
}

.bgButtonDark {
    border: 1px solid var(--color-background-dark);
    background-color: var(--color-background-dark);
    height: 20px;
    width: 40px;
    cursor: pointer;
    margin: 5px 0;
}

.bgButtonLight {
    border: 1px solid var(--color-background-dark);
    background-color: var(--color-background-light);
    height: 20px;
    width: 40px;
    cursor: pointer;
    margin: 5px 0;
}

.buttonFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.safe {
    background-color: var(--color-background-dark-variant-2);
    color: var(--color-text-main);
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 5px;
}